In [ ]:
import sqlite3
conn = sqlite3.connect('C:/Users/EFKA-PC/Desktop/github1/Global_Homicide_Database/homicides_fin.db')

In [ ]:
import pandas as pd
sql_query = '''PRAGMA table_info('homicides');'''

result = pd.read_sql_query(sql_query, conn)
display(result)

In [ ]:
sql_query = '''
SELECT 
    SUM(homicides_2000) AS total_homicides_2000, 
    SUM(homicides_2001) AS total_homicides_2001,
    SUM(homicides_2002) AS total_homicides_2002,
    SUM(homicides_2003) AS total_homicides_2003,
    SUM(homicides_2004) AS total_homicides_2004,
    SUM(homicides_2005) AS total_homicides_2005,
    SUM(homicides_2006) AS total_homicides_2006,
    SUM(homicides_2007) AS total_homicides_2007,
    SUM(homicides_2008) AS total_homicides_2008,
    SUM(homicides_2009) AS total_homicides_2009,
    SUM(homicides_2010) AS total_homicides_2010,
    SUM(homicides_2011) AS total_homicides_2011,
    SUM(homicides_2012) AS total_homicides_2012,
    SUM(homicides_2013) AS total_homicides_2013,
    SUM(homicides_2014) AS total_homicides_2014,
    SUM(homicides_2015) AS total_homicides_2015,
    SUM(homicides_2016) AS total_homicides_2016,
    SUM(homicides_2017) AS total_homicides_2017,
    SUM(homicides_2018) AS total_homicides_2018,
    SUM(homicides_2019) AS total_homicides_2019,
    SUM(homicides_2020) AS total_homicides_2020,
    SUM(rates_2000) AS total_rates_2000, 
    SUM(rates_2001) AS total_rates_2001,
    SUM(rates_2002) AS total_rates_2002,
    SUM(rates_2003) AS total_rates_2003,
    SUM(rates_2004) AS total_rates_2004,
    SUM(rates_2005) AS total_rates_2005,
    SUM(rates_2006) AS total_rates_2006,
    SUM(rates_2007) AS total_rates_2007,
    SUM(rates_2008) AS total_rates_2008,
    SUM(rates_2009) AS total_rates_2009,
    SUM(rates_2010) AS total_rates_2010,
    SUM(rates_2011) AS total_rates_2011,
    SUM(rates_2012) AS total_rates_2012,
    SUM(rates_2013) AS total_rates_2013,
    SUM(rates_2014) AS total_rates_2014,
    SUM(rates_2015) AS total_rates_2015,
    SUM(rates_2016) AS total_rates_2016,
    SUM(rates_2017) AS total_rates_2017,
    SUM(rates_2018) AS total_rates_2018,
    SUM(rates_2019) AS total_rates_2019,
    SUM(rates_2020) AS total_rates_2020
FROM homicides; '''


result = pd.read_sql_query(sql_query, conn)
display(result)

In [ ]:
import pandas as pd
sql_query = '''
SELECT 
    country, 
    homicides_2020, 
    rates_2020
FROM homicides 
WHERE rates_2020 IS NOT NULL 
ORDER BY rates_2020 DESC 
LIMIT 10;
'''

result = pd.read_sql_query(sql_query, conn)
display(result)

In [ ]:
import pandas as pd
sql_query = '''
SELECT 
    region,
    (rates_2020 - rates_2019) AS rate_increase
FROM homicides
WHERE rates_2020 IS NOT NULL AND rates_2019 IS NOT NULL
ORDER BY rate_increase DESC
LIMIT 10;
'''

result = pd.read_sql_query(sql_query, conn)
display(result)

In [ ]:
import pandas as pd
sql_query = '''
SELECT country, homicides_2020, rates_2020
FROM homicides
WHERE region = 'Europe'
ORDER BY rates_2020 DESC;

'''

result = pd.read_sql_query(sql_query, conn)
display(result)

In [ ]:
import pandas as pd
sql_query = 'SELECT* from homicides'

result = pd.read_sql_query(sql_query, conn)
display(result)